.#{$--clsPrefix}-row {
    position: relative;
    box-sizing: border-box;
    @include clearfix;
    &--flex {
      display: flex;
      flex-direction: row;
      &:after {
        display: none;
      }
      &.#{$--clsPrefix}-row--start {
        justify-content: flex-start;
      }
      &.#{$--clsPrefix}-row--end {
        justify-content: flex-end;
      }
      &.#{$--clsPrefix}-row--center {
        justify-content: center;
      }
      &.#{$--clsPrefix}-row--space-around {
        justify-content: space-around;
      }
      &.#{$--clsPrefix}-row--space-between {
        justify-content: space-between;
      }
      &.#{$--clsPrefix}-row--top {
        align-items: flex-start;
      }
      &.#{$--clsPrefix}-row--middle {
        align-items: center;
      }
      &.#{$--clsPrefix}-row--bottom {
        align-items: flex-end;
      }
    }
  }