@import './commons/variables.scss';
.#{$--clsPrefix}-alert {
  position: relative;
  box-sizing: border-box;
  border-radius: $--border-radius;
  padding: $--alert-padding;
  &__icon {}
}

.#{$--clsPrefix}-alert--info {
  background-color: $--alert-bg-color--info;
  color: $--alert-color--info;
}

.#{$--clsPrefix}-alert--success {
  background-color: $--alert-bg-color--success;
  color: $--alert-color--success;
}