@import './commons/var';
.#{$--clsPrefix}-button {
  // font-size: $--btn-font-size;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  border-radius: $--btn-border-radius;
  padding: $--btn-padding-vertical $--btn-padding-horizontal;
  border: $--btn-border-width solid;
  transition: $--btn-transition;
  &::-moz-focus-inner {
    border: 0;
  }
  &:disabled {
    opacity: $--btn-opacity--disabled;
    cursor: not-allowed;
  }
  .#{$--clsPrefix}-icon+span {
    padding-left: $--btn-padding-horizontal / 1.5;
  }
}

.#{$--clsPrefix}-button--dash {
  border-style: dashed;
}

.#{$--clsPrefix}-button--long {
  display: block;
  width: 100%;
}

.#{$--clsPrefix}-button--round {
  // border-radius: 1em * 0.5 + $--btn-padding-horizontal; //字体高度的一半+padding
}

.#{$--clsPrefix}-button--plain {
  background-color: transparent !important;
  &:hover {
    background-color: transparent !important;
  }
}

.#{$--clsPrefix}-button--loading {
  cursor: default;
  pointer-events: none;
  opacity: $--btn-opacity--disabled;
  .#{$--clsPrefix}-icon {
    animation: #{$--clsPrefix}-button-loading-loop 1s linear infinite;
  }
  @keyframes #{$--clsPrefix}-button-loading-loop {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.#{$--clsPrefix}-button--default {
  // // background-color: $--btn-bg-color--default;
  // border-color: $--btn-border-color--default;
  // color: $--btn-font-color--default;
  // &:not(:disabled):hover,
  // &:not(:disabled):focus {
  //   background-color: $--btn-bg-color--default--hover;
  //   border-color: $--btn-border-color--default--hover;
  //   color: $--btn-font-color--default--hover;
  // }
  // &:not(:disabled):focus {
  //   box-shadow: $--btn-box-shadow-size rgba($--btn-border-color--default--hover, $--btn-box-shadow-transparency);
  // }
}

// .#{$--clsPrefix}-button--success {
//   background-color: $--btn-bg-color--success;
//   border-color: $--btn-border-color--success;
//   color: $--btn-font-color--success;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--success--hover;
//     border-color: $--btn-border-color--success--hover;
//     color: $--btn-font-color--success--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--success--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--success;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--success--hover;
//     }
//   }
// }

// .#{$--clsPrefix}-button--primary {
//   background-color: $--btn-bg-color--primary;
//   border-color: $--btn-border-color--primary;
//   color: $--btn-font-color--primary;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--primary--hover;
//     border-color: $--btn-border-color--primary--hover;
//     color: $--btn-font-color--primary--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--primary--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--primary;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--primary--hover;
//     }
//   }
// }

// .#{$--clsPrefix}-button--warning {
//   background-color: $--btn-bg-color--warning;
//   border-color: $--btn-border-color--warning;
//   color: $--btn-font-color--warning;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--warning--hover;
//     border-color: $--btn-border-color--warning--hover;
//     color: $--btn-font-color--warning--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--warning--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--warning;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--warning--hover;
//     }
//   }
// }

// .#{$--clsPrefix}-button--error {
//   background-color: $--btn-bg-color--error;
//   border-color: $--btn-border-color--error;
//   color: $--btn-font-color--error;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--error--hover;
//     border-color: $--btn-border-color--error--hover;
//     color: $--btn-font-color--error--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--error--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--error;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--error--hover;
//     }
//   }
// }

// .#{$--clsPrefix}-button--info {
//   background-color: $--btn-bg-color--info;
//   border-color: $--btn-border-color--info;
//   color: $--btn-font-color--info;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--info--hover;
//     border-color: $--btn-border-color--info--hover;
//     color: $--btn-font-color--info--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--btn-box-shadow-size rgba($--btn-border-color--info--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--info;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--info--hover;
//     }
//   }
// }

// .#{$--clsPrefix}-button--text {
//   background-color: $--btn-bg-color--text;
//   border-color: $--btn-border-color--text;
//   color: $--btn-font-color--text;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     color: $--btn-font-color--text--hover;
//   }
// }