@import './commons/var';
.#{$--clsPrefix}-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  border-radius: $--btn-border-radius;
  padding: $--btn-padding-vertical $--btn-padding-horizontal;
  border: $--btn-border-width solid;
  transition: $--btn-transition;
  &::-moz-focus-inner {
    border: 0;
  }
  &:disabled {
    opacity: $--btn-opacity--disabled;
    cursor: not-allowed;
  }
  .#{$--clsPrefix}-icon+span {
    padding-left: $--btn-padding-horizontal / 1.5;
  }
  &.#{$--clsPrefix}-button--dash {
    border-style: dashed;
  }
  &.#{$--clsPrefix}-button--long {
    display: block;
    width: 100%;
  }
  &.#{$--clsPrefix}-button--round {
    border-radius: $--btn-border-radius--round; //字体高度的一半+padding
  }
  &.#{$--clsPrefix}-button--loading {
    cursor: default;
    pointer-events: none;
    opacity: $--btn-opacity--disabled;
    .#{$--clsPrefix}-icon {
      animation: #{$--clsPrefix}-button-loading-loop 1s linear infinite;
    }
    @keyframes #{$--clsPrefix}-button-loading-loop {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

// .#{$--clsPrefix}-button--plain {
//   background-color: transparent !important;
//   &:hover {
//     background-color: transparent !important;
//   }
// }
.#{$--clsPrefix}-button--default {
  background-color: $--btn-default-bg-color;
  border-color: $--btn-default-border-color;
  color: $--btn-default-color;
  &:not(:disabled):hover {
    background-color: $--btn-default-bg-color--hover;
    border-color: $--btn-default-border-color--hover;
    color: $--btn-default-color--hover;
  }
  &:not(:disabled):focus {
    background-color: $--btn-default-bg-color--focus;
    border-color: $--btn-default-border-color--focus;
    color: $--btn-default-color--focus;
    box-shadow: $--btn-default-box-shadow--focus;
  }
  &.#{$--clsPrefix}-button--plain {
    background-color: $--btn-default-bg-color;
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: $--btn-default-bg-color;
    }
  }
}

.#{$--clsPrefix}-button--success {
  background-color: $--btn-success-bg-color;
  border-color: $--btn-success-border-color;
  color: $--btn-success-color;
  &:not(:disabled):hover {
    background-color: $--btn-success-bg-color--hover;
    border-color: $--btn-success-border-color--hover;
    color: $--btn-success-color--hover;
  }
  &:not(:disabled):focus {
    background-color: $--btn-success-bg-color--focus;
    border-color: $--btn-success-border-color--focus;
    color: $--btn-success-color--focus;
    box-shadow: $--btn-success-box-shadow--focus;
  }
  &.#{$--clsPrefix}-button--plain {
    background-color: $--btn-default-bg-color;
    color: $--btn-success-bg-color;
    &:not(:disabled):hover{
      color: $--btn-success-bg-color--hover;
      background-color: $--btn-default-bg-color;
    }
    &:not(:disabled):focus {
      color: $--btn-success-bg-color--focus;
      background-color: $--btn-default-bg-color;
    }
  }
}

// .#{$--clsPrefix}-button--primary {
//   background-color: $--btn-bg-color--primary;
//   border-color: $--btn-border-color--primary;
//   color: $--btn-font-color--primary;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--primary--hover;
//     border-color: $--btn-border-color--primary--hover;
//     color: $--btn-font-color--primary--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--primary--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--primary;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--primary--hover;
//     }
//   }
// }
// .#{$--clsPrefix}-button--warning {
//   background-color: $--btn-bg-color--warning;
//   border-color: $--btn-border-color--warning;
//   color: $--btn-font-color--warning;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--warning--hover;
//     border-color: $--btn-border-color--warning--hover;
//     color: $--btn-font-color--warning--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--warning--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--warning;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--warning--hover;
//     }
//   }
// }
// .#{$--clsPrefix}-button--error {
//   background-color: $--btn-bg-color--error;
//   border-color: $--btn-border-color--error;
//   color: $--btn-font-color--error;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--error--hover;
//     border-color: $--btn-border-color--error--hover;
//     color: $--btn-font-color--error--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--box-shadow-size rgba($--btn-border-color--error--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--error;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--error--hover;
//     }
//   }
// }
// .#{$--clsPrefix}-button--info {
//   background-color: $--btn-bg-color--info;
//   border-color: $--btn-border-color--info;
//   color: $--btn-font-color--info;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     background-color: $--btn-bg-color--info--hover;
//     border-color: $--btn-border-color--info--hover;
//     color: $--btn-font-color--info--hover;
//   }
//   &:not(:disabled):focus {
//     box-shadow: $--btn-box-shadow-size rgba($--btn-border-color--info--hover, $--box-shadow-transparency);
//   }
//   &.#{$--clsPrefix}-button--plain {
//     color: $--btn-bg-color--info;
//     &:not(:disabled):hover,
//     &:not(:disabled):focus {
//       color: $--btn-bg-color--info--hover;
//     }
//   }
// }
// .#{$--clsPrefix}-button--text {
//   background-color: $--btn-bg-color--text;
//   border-color: $--btn-border-color--text;
//   color: $--btn-font-color--text;
//   &:not(:disabled):hover,
//   &:not(:disabled):focus {
//     color: $--btn-font-color--text--hover;
//   }
// }