@import 'commons/var';
.#{$--cls-prefix}-checkbox {
  position: relative;
  line-height: $--checkbox-line-height;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: $--checkbox-bg-color;
  &:not(&--checked):not(&--disabled) {
    &:hover {
      .#{$--cls-prefix}-checkbox__inner {
        border-color: $--checkbox-hover-border-color;
      }
      .#{$--cls-prefix}-checkbox__label {
        color: $--checkbox-hover-color;
      }
    }
  }
  &__input,
  &__inner,
  &__label {
    display: inline-block;
    vertical-align: middle;
  }
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0;
  }
  &__inner {
    position: relative;
    height: $--checkbox-height;
    width: $--checkbox-width;
    border: $--checkbox-border-width solid $--checkbox-border-color;
    border-radius: $--checkbox-border-radius;
    transition: all $--checkbox-transition-time $--checkbox-transition-func;
    &:after {
      position: absolute;
      content: '';
      border: none;
      height: 0;
      width: 0;
      left: $--checkbox-width * 0.2;
      top: $--checkbox-height * 0.25;
      transform: rotate(0) scale(0);
      transform-origin: center;
      transition: all $--checkbox-transition-time $--checkbox-transition-func;
    }
  }
  &__label {
    padding-left: $--checkbox-label-padding-left;
    vertical-align: middle;
    transition: color $--checkbox-transition-time $--checkbox-transition-func;
  }
  &--disabled {
    opacity: $--checkbox-opacity-disabled;
    .#{$--cls-prefix}-checkbox__input {
      cursor: not-allowed;
    }
  }
  &--readonly {
    pointer-events: none;
  }
  &--checked {
    .#{$--cls-prefix}-checkbox__inner {
      border-color: $--checkbox-checked-border-color;
      background-color: $--checkbox-checked-color;
      &:after {
        border-bottom: $--border-width solid $--checkbox-bg-color;
        border-left: $--border-width solid $--checkbox-bg-color;
        height: $--checkbox-height * 0.25;
        width: $--checkbox-width * 0.55;
        transform: rotate(-45deg) scale(1);
      }
    }
    .#{$--cls-prefix}-checkbox__label {
      color: $--checkbox-checked-color;
    }
  }
  &--indeterminate {
    .#{$--cls-prefix}-checkbox__inner {
      background-color: $--checkbox-checked-color;
      &:after {
        transform: rotate(0) scale(1);
        border-bottom: $--border-width solid $--checkbox-bg-color;
        left: $--checkbox-width * 0.2;
        width: $--checkbox-width * 0.6;
        height: $--checkbox-height * 0.2;
      }
    }
  }
  &--bordered {
    border: $--checkbox-border-width solid $--checkbox-border-color;
    padding: $--checkbox-button-padding-y $--checkbox-button-padding-x;
    border-radius: $--checkbox-border-radius;
    transition: all $--checkbox-transition-time $--checkbox-transition-func;
    &:not(.#{$--cls-prefix}-checkbox--checked):not(.#{$--cls-prefix}-checkbox--disabled) {
      &:hover {
        border-color: $--checkbox-hover-border-color;
      }
    }
    &.#{$--cls-prefix}-checkbox--checked {
      border-color: $--checkbox-checked-border-color;
    }
  }
}
