@import 'commons/var';
@import 'mixins/bem';
@import 'mixins/utils';
@include b(checkbox-group) {
  @include b(checkbox) {
    &:not(:last-child) {
      margin-right: $--checkbox-group-margin-right;
    }
  }
  @include m(button) {
    @include clearfix;
    @include b(checkbox) {
      float: left;
      border: $--checkbox-border-width solid $--checkbox-border-color;
      padding: $--checkbox-button-padding-y $--checkbox-button-padding-x;
      margin-right: 0 !important;
      text-align: center;
      transition: all $--checkbox-transition-time $--checkbox-transition-func;
      z-index: 0;
      &:first-child {
        border-top-left-radius: $--checkbox-border-radius;
        border-bottom-left-radius: $--checkbox-border-radius;
      }
      &:last-child {
        border-top-right-radius: $--checkbox-border-radius;
        border-bottom-right-radius: $--checkbox-border-radius;
      }
      &:not(:first-child) {
        margin-left: -$--checkbox-border-width;
      }
      @include e(inner) {
        display: none;
      }
      @include e(label) {
        padding-left: 0;
      }
      @include not((disabled, checked)) {
        @include pseudo(hover) {
          border: 1px solid $--checkbox-hover-border-color;
          z-index: 2;
        }
      }
      @include m(checked) {
        border-color: $--checkbox-checked-color;
        background-color: $--checkbox-checked-color;
        z-index: 1;
        @include e(label) {
          color: $--checkbox-bg-color;
        }
      }
    }
  }
}