@import './commons/variables.scss';
@import './commons/mixins.scss';
.#{$--clsPrefix}-checkbox-group {
  .#{$--clsPrefix}-checkbox:not(:last-child) {
    margin-right: 0.5em;
  }
}

.#{$--clsPrefix}-checkbox-group--button {
  @include clearfix();
  .#{$--clsPrefix}-checkbox {
    float: left;
    border: $--border-width solid $--border-color;
    padding: 0.4em 0.6em;
    margin-right: 0 !important;
    text-align: center;
    transition: border-color $--transition-time ease-in-out, background-color $--transition-time ease-in-out;
    &:first-child {
      border-top-left-radius: $--border-radius;
      border-bottom-left-radius: $--border-radius;
    }
    &:last-child {
      border-top-right-radius: $--border-radius;
      border-bottom-right-radius: $--border-radius;
    }
    &:not(:first-child) {
      margin-left: -$--border-width;
    }
    .#{$--clsPrefix}-checkbox__inner {
      display: none;
    }
    .#{$--clsPrefix}-checkbox__label {
      transition: color $--transition-time ease-in-out;
      padding-left: 0;
    }
  }
  .#{$--clsPrefix}-checkbox--checked {
    border-color: $--checkbox-color-active;
    background-color: $--checkbox-color-active;
    .#{$--clsPrefix}-checkbox__label {
      color: $--checkbox-font-color-active;
    }
  }
  .#{$--clsPrefix}-checkbox--checked+.#{$--clsPrefix}-checkbox--checked {
    border-left-color: $--checkbox-bg-color;
  } // .#{$--clsPrefix}-checkbox--focused {
  //   box-shadow: $--box-shadow-size rgba($--checkbox-color-active, $--box-shadow-transparency);
  // }
}

.#{$--clsPrefix}-checkbox-group--button {
  .#{$--clsPrefix}-checkbox {
    &:hover:not(.#{$--clsPrefix}-checkbox--disabled) {
      border: 1px solid $--checkbox-color--hover;
      &.#{$--clsPrefix}-checkbox--checked {
        background-color: $--checkbox-color--hover;
      }
    }
  }
  .#{$--clsPrefix}-checkbox--checked+.#{$--clsPrefix}-checkbox--checked {
    &:hover:not(.#{$--clsPrefix}-checkbox--disabled) {
      border-left-color: $--checkbox-bg-color;
    }
  }
}
