@import './commons/variables.scss';

.#{$--clsPrefix}-checkbox {
  position: relative;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  &__input {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0;
  }
  &__inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top: 0;
    height: $--checkbox-size;
    width: $--checkbox-size;
    border: 1px solid $--border-color;
    border-radius: $--border-radius;
    transition: all $--transition-time ease-in-out;
    &:after {
      position: absolute;
      content: '';
      border: none;
      height: 0;
      width: 0;
      left: $--checkbox-size * 0.2;
      top: $--checkbox-size * 0.25;
      transform: rotate(0) scale(0);
      transform-origin: center;
      transition: all $--transition-time ease-in-out;
    }
  }
  &__label {
    padding-left: 0.3em;
  }
}

.#{$--clsPrefix}-checkbox--indeterminate {
  .#{$--clsPrefix}-checkbox__inner {
    background-color: $--checkbox-color-active;
    &:after {
      transform: rotate(0) scale(1);
      border-bottom: 1px solid $--checkbox-bg-color;
      left: $--checkbox-size * 0.25;
      width: $--checkbox-size * 0.55;
      height: $--checkbox-size * 0.2;
    }
  }
}

.#{$--clsPrefix}-checkbox--checked {
  .#{$--clsPrefix}-checkbox__inner {
    background-color: $--checkbox-color-active;
    &:after {
      border-bottom: 1px solid $--checkbox-bg-color;
      border-left: 1px solid $--checkbox-bg-color;
      height: $--checkbox-size * 0.25;
      width: $--checkbox-size * 0.55;
      transform: rotate(-45deg) scale(1);
    }
  }
  .#{$--clsPrefix}-checkbox__label {
    color: $--checkbox-color-active;
  }
}
.#{$--clsPrefix}-checkbox--focused {
  .#{$--clsPrefix}-checkbox__inner {
    box-shadow: $--box-shadow-size
      rgba($--radio-color-active, $--box-shadow-transparency);
  }
}
.#{$--clsPrefix}-checkbox--disabled {
  opacity: $--opacity--disabled;
  .#{$--clsPrefix}-checkbox__input {
    cursor: not-allowed;
  }
}

.#{$--clsPrefix}-checkbox--readonly {
  pointer-events: none;
}
.#{$--clsPrefix}-checkbox--border {
  border: 1px solid $--border-color;
  padding: 0.4em 0.6em;
  border-radius: $--border-radius;
  &.#{$--clsPrefix}-checkbox--checked {
    border-color: $--checkbox-color-active;
  }
  &.#{$--clsPrefix}-checkbox--focused {
    box-shadow: $--box-shadow-size
      rgba($--checkbox-color-active, $--box-shadow-transparency);
    .#{$--clsPrefix}-checkbox__inner {
      box-shadow: none;
    }
  }
}