@import './commons/variables.scss';
.#{$--clsPrefix}-collapse {
  border: $--border-width solid $--border-color;
  border-radius: $--collapse-border-radius;
  .#{$--clsPrefix}-panel {
    &__header {
      border-top: $--border-width solid $--border-color;
      padding: $--collapse-header-padding;
      background-color: $--collapse-header-bg-color;
      cursor: pointer;
      &__icon {
        margin-right: $--collapse-header-icon-margin-right;
        transition: transform $--transition-time ease-in-out;
        transform-origin: 50% 50%;
        &--actived {
          transform: rotate(90deg)
        }
      }
    }
    &__body {
      border-top: $--border-width solid $--border-color;
      padding: $--collapse-body-padding;
    }
    &:first-child {
      .#{$--clsPrefix}-panel__header {
        border-top: none;
      }
    }
    .collapse-transition {
      transition: all $--transition-time ease-in-out;
    }
  }
}

.#{$--clsPrefix}-collapse--simple {
  border-left: none;
  border-right: none;
  .#{$--clsPrefix}-panel {
    &__header {
      background-color: $--bg-color;
    }
  }
}