@import './commons/variables.scss';

.#{$--clsPrefix}-dropdown-item {
  padding: 0.5em 1em;
  cursor: pointer;
  color: $--dropdown-color;
  &:hover {
    color: $--dropdown-color--active;
  }
  // .#{$--clsPrefix}-dropdown {
  //   margin: -0.5em -1em;
  //   padding: 0.5em 1em;
  // }
}
.#{$--clsPrefix}-dropdown-item--disabled {
  opacity: $--opacity--disabled;
  cursor: not-allowed;
  &:hover {
    color: $--dropdown-color;
  }
}
