@import './commons/var';
@import './mixins/bem';
@import './commons/ionicons/ionicons.scss';
@include b(icon) {
  display: inline-block;
  font-size: $--icon-font-size;
  width: $--icon-font-size;
  height: $--icon-font-size;
  line-height: 1;
}
