@import 'commons/var';
@import 'commons/ionicons/ionicons';
.#{$--cls-prefix}-icon {
  display: inline-block;
  font-size: $--icon-font-size;
  width: $--icon-font-size;
  height: $--icon-font-size;
  text-align: center;
  line-height: 1;
  &:before{
    font-size: $--icon-font-size;
  }
}
