@import 'commons/var';
.#{$--cls-prefix}-input {
  position: relative;
  display: table;
  box-sizing: border-box;
  width: 100%;
  font-size: $--input-font-size;
  align-content: center;
  color: $--input-color;
  &__prefix,
  &__suffix {
    background-color: $--input-append-bg-color;
  }
  &__prefix {
    border: $--input-border-width solid $--input-border-color;
    border-right: none;
  }
  &__suffix {
    border: $--input-border-width solid $--input-border-color;
    border-left: none;
  }
  &__prefix,
  &__suffix,
  &__inner,
  &__textarea {
    line-height: $--input-line-height;
  }
  &__prefix,
  &__suffix,
  &__body,
  &__textarea {
    display: table-cell;
    vertical-align: middle;
    &:first-child {
      border-top-left-radius: $--input-border-radius;
      border-bottom-left-radius: $--input-border-radius;
    }
    &:last-child {
      border-top-right-radius: $--input-border-radius;
      border-bottom-right-radius: $--input-border-radius;
    }
  }
  &__body,
  &__textarea {
    position: relative;
    transition: $--input-transition;
    border: $--input-border-width solid $--input-border-color;
  }
  &--hovered {
    .#{$--cls-prefix}-input__textarea,
    .#{$--cls-prefix}-input__body {
      border-color: $--input-hover-border-color;
    }
  }
  &--focused {
    .#{$--cls-prefix}-input__textarea,
    .#{$--cls-prefix}-input__body {
      border-color: $--input-focus-border-color;
    }
  }
  &--disabled {
    opacity: $--input-opacity-disabled;
    cursor: not-allowed;
    .#{$--cls-prefix}-input__inner,
    .#{$--cls-prefix}-input__textarea {
      cursor: not-allowed;
      background-color: inherit;
    }
  }
  &__prefix,
  &__suffix,
  &__inner,
  &__textarea {
    padding: $--input-padding-y $--input-padding-x;
  }
  &__prefix-icon,
  &__suffix-icon {
    padding: $--input-padding-y;
    text-align: center;
    position: absolute;
    font-size: $--input-font-size;
    line-height: $--input-line-height;
    top: 0;
  }
  &__prefix-icon {
    left: 0;
  }
  &__suffix-icon {
    right: 0;
    &--clear {
      cursor: pointer;
      transition: color .15s ease-in-out;
      &:hover {
        color: $--input-clear-hover-color;
      }
    }
  }
  &__inner {
    border: none;
    &::placeholder {
      color: $--input-color;
    }
    &::-ms-clear {
      display: none;
    }
    &--prefix-icon {
      padding-left: $--input-inner-icon-padding-x;
    }
    &--suffix-icon {
      padding-right: $--input-inner-icon-padding-x;
    }
  }
  &__inner,
  &__textarea {
    outline: none;
    width: auto;
    width: 100%;
    box-sizing: border-box;
    color: $--input-content-color;
  }
  &--autosized {
    .#{$--cls-prefix}-input__textarea {
      transition: $--input-textarea-transition;
    }
  }
}
