@import 'commons/var';
@import 'mixins/bem';
@include b(input) {
  position: relative;
  display: table;
  box-sizing: border-box;
  width: 100%;
  font-size: $--input-font-size;
  align-content: center;
  color: $--input-color;
  line-height: $--input-line-height;
  @include e((prefix, suffix)) {
    background-color: $--input-append-bg-color;
  }
  @include e(prefix) {
    border: $--input-border-width solid $--input-border-color;
    border-right: none;
  }
  @include e(suffix) {
    border: $--input-border-width solid $--input-border-color;
    border-left: none;
  }
  @include e((prefix, suffix, body, textarea)) {
    display: table-cell;
    vertical-align: middle;
    &:first-child {
      border-top-left-radius: $--input-border-radius;
      border-bottom-left-radius: $--input-border-radius;
    }
    &:last-child {
      border-top-right-radius: $--input-border-radius;
      border-bottom-right-radius: $--input-border-radius;
    }
  }
  @include e((body, textarea)) {
    position: relative;
    transition: $--input-transition;
    border: $--input-border-width solid $--input-border-color;
  }
  @include m(hovered) {
    @include e((textarea, body)) {
      border-color: $--input-hover-border-color;
    }
  }
  @include m(focused) {
    @include e((textarea, body)) {
      border-color: $--input-focus-border-color;
    }
  }
  @include m(disabled) {
    opacity: $--input-opacity-disabled;
    cursor: not-allowed;
    @include e((inner,textarea)) {
      cursor: not-allowed;
      background-color: inherit;
    }
  }
  @include e((prefix, suffix, inner, textarea)) {
    padding: $--input-padding-y $--input-padding-x;
  }
  @include e((prefix-icon, suffix-icon)) {
    padding: $--input-padding-y;
    text-align: center;
    position: absolute;
    top: 0;
  }
  @include e(prefix-icon) {
    left: 0;
  }
  @include e(suffix-icon) {
    right: 0;
    @include m(clear) {
      cursor: pointer;
      transition: color .15s ease-in-out;
      &:hover {
        color: $--input-clear-hover-color;
      }
    }
  }
  @include e(inner) {
    border: none;
    &::placeholder {
      color: $--input-color;
    }
    &::-ms-clear{
      display: none;
    }
    @include m(prefix-icon) {
      padding-left: $--input-inner-icon-padding-x;
    }
    @include m(suffix-icon) {
      padding-right: $--input-inner-icon-padding-x;
    }
  }
  @include e((inner, textarea)) {
    outline: none;
    width: auto;
    width: 100%;
    box-sizing: border-box;
    color: $--input-content-color;
  }
  @include m(autosized) {
    @include e(textarea) {
      transition: $--input-textarea-transition;
    }
  }
}
