@import 'commons/var';
.#{$--cls-prefix}-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;
  &--sider {
    flex-direction: row;
  }
}

.#{$--cls-prefix}-header {
  flex: 0 0 auto;
  padding: 0 $--layout-header-padding-x;
  height: $--layout-header-height;
  line-height: $--layout-header-height;
  background-color: $--layout-header-bg-color;
  color: $--layout-header-color;
  &--fixed{
    position: fixed;
    top: 0;
  }
}

.#{$--cls-prefix}-content {
  flex: auto;
  background-color: $--layout-content-bg-color;
  color: $--layout-content-color;
}

.#{$--cls-prefix}-footer {
  flex: 0 0 auto;
  padding: 0 $--layout-footer-padding-x;
  height: $--layout-footer-height;
  line-height: $--layout-footer-height;
  background-color: $--layout-footer-bg-color;
  color: $--layout-footer-color
}

.#{$--cls-prefix}-sider {
  flex: 0 1 auto;
  width: $--layout-sider-width;
  background-color: $--layout-sider-bg-color;
  color: $--layout-sider-color;
}
