@import './commons/variables.scss';
@import './commons/mixins.scss';


.#{$--clsPrefix}-poptip {
  display: inline-block;
  &__ref {
    display: inline-block;
  }
  @at-root &__popper {
    &__arrow {
      position: absolute;
    }
    &[x-placement^=top] {
      padding-bottom: $--poptip-arrow-size;
      .#{$--clsPrefix}-poptip__popper__arrow {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, bottom);
        bottom: 0;
      }
    }
    &[x-placement^=bottom] {
      padding-top: $--poptip-arrow-size;
      .#{$--clsPrefix}-poptip__popper__arrow {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, top);
        top: 0;
      }
    }
    &[x-placement^=left] {
      padding-right: $--poptip-arrow-size;
      .#{$--clsPrefix}-poptip__popper__arrow {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, right);
        right: 0;
      }
    }
    &[x-placement^=right] {
      padding-left: $--poptip-arrow-size;
      .#{$--clsPrefix}-poptip__popper__arrow {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, left);
        left: 0;
      }
    }
    &__body {
      background-clip: padding-box;
      box-sizing: border-box;
      border-radius: $--border-radius;
      background-color: $--poptip-bg-color;
      box-shadow: $--poptip-box-shadow;
      // white-space: nowrap;
    }
    &__title {
      padding-bottom: $--poptip-padding;
      margin-bottom: $--poptip-padding;
      border-bottom: $--border-width solid $--poptip-border-color;
    }
    &__content {
    }
  }
  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity $--transition-time ease-in-out
  }
  &-fade-enter,
  &-fade-leave-to {
    opacity: 0;
  }
  &-fade-enter-to,
  &-fade-leave {
    opacity: 1;
  }
}
