@import 'commons/var';
@import 'mixins/bem';
@mixin arrow($width, $borderColor, $bgColor, $direction, $borderWidth:$width * 0.1) {
  display: block;
  height: 0;
  width: 0;
  border: $width / 2 solid transparent;
  &:after {
    position: absolute;
    display: block;
    left: (-$width + 2 * $borderWidth) /2;
    top: (-$width + 2 * $borderWidth) /2;
    content: "";
    height: 0;
    width: 0;
    border: ($width - 2 * $borderWidth) / 2 solid transparent;
  }
  @if($direction==top) {
    border-bottom-color: $borderColor;
    &:after {
      border-bottom-color: $bgColor;
      margin-top: $borderWidth;
    }
  }
  @if($direction==bottom) {
    border-top-color: $borderColor;
    &:after {
      border-top-color: $bgColor;
      margin-top: -$borderWidth;
    }
  }
  @if($direction==left) {
    border-right-color: $borderColor;
    &:after {
      border-right-color: $bgColor;
      margin-left: $borderWidth;
    }
  }
  @if($direction==right) {
    border-left-color: $borderColor;
    &:after {
      border-left-color: $bgColor;
      margin-left: -$borderWidth;
    }
  }
}

@include b(poptip) {
  display: inline-block;
  @include e(ref) {
    display: inline-block;
    position: relative;
  }
  @include e(popper) {
    @include e(arrow) {
      position: absolute;
      z-index: 1;
    }
    @include e(body) {
      background-clip: padding-box;
      box-sizing: border-box;
      border-radius: $--poptip-border-radius;
      border: $--poptip-border-width solid $--poptip-border-color;
      background-color: $--poptip-bg-color;
      box-shadow: $--poptip-box-shadow;
    }
    @include e(title) {
      padding-bottom: $--poptip-title-content-space;
      margin-bottom: $--poptip-title-content-space;
      border-bottom: $--poptip-border-width solid $--poptip-border-color;
    }
    @include e(content) {}
    @include m((top, top-start, top-end)) {
      padding-bottom: $--poptip-arrow-size;
      @include e(arrow) {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, bottom);
        bottom: $--poptip-border-width;
      }
    }
    @include m((bottom, bottom-start, bottom-end)) {
      padding-top: $--poptip-arrow-size;
      @include e(arrow) {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, top);
        top: $--poptip-border-width;
      }
    }
    @include m((left, left-start, left-end)) {
      padding-right: $--poptip-arrow-size;
      @include e(arrow) {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, right);
        right: $--poptip-border-width;
      }
    }
    @include m((right, right-start, right-end)) {
      padding-left: $--poptip-arrow-size;
      @include e(arrow) {
        @include arrow($--poptip-arrow-size, $--poptip-border-color, $--poptip-bg-color, left);
        left: $--poptip-border-width;
      }
    }
  }
  &-fade-enter-active,
  &-fade-leave-active {
    transition: $--poptip-transition;
  }
  &-fade-enter,
  &-fade-leave-to {
    opacity: 0;
  }
  &-fade-enter-to,
  &-fade-leave {
    opacity: 1;
  }
}
