@import './commons/variables.scss';

.#{$--clsPrefix}-popup {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    @at-root &__content--wrapper {
      position: relative;
      .#{$--clsPrefix}-popup__content{
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        box-sizing: border-box;
      }
    }
}
