@import './commons/variables.scss';

.#{$--clsPrefix}-popup {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    @at-root &__content {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
    }
}