@import 'commons/var';
@import 'mixins/utils';
.#{$--cls-prefix}-radio-group {
  position: relative;
  .#{$--cls-prefix}-radio {
    &:not(:last-child) {
      margin-right: $--radio-group-margin-right;
    }
  }
  &--button {
    @include clearfix;
    .#{$--cls-prefix}-radio {
      float: left;
      border: $--radio-border-width solid $--radio-border-color;
      padding: $--radio-button-padding-y $--radio-button-padding-x;
      margin-right: 0 !important;
      text-align: center;
      z-index: 0;
      transition: all $--radio-transition-time $--radio-transition-func;
      &:first-child {
        border-top-left-radius: $--radio-border-radius;
        border-bottom-left-radius: $--radio-border-radius;
      }
      &:last-child {
        border-top-right-radius: $--radio-border-radius;
        border-bottom-right-radius: $--radio-border-radius;
      }
      &:not(:first-child) {
        margin-left: -$--radio-border-width;
      }
      &__inner {
        display: none;
      }
      &__label {
        padding-left: 0;
      }
      &--checked {
        border-color: $--radio-checked-border-color;
        background-color: $--radio-checked-color;
        z-index: 1;
        .#{$--cls-prefix}-radio__label {
          color: $--radio-bg-color;
        }
      }
      &:not(&--disabled) {
        &:hover {
          z-index: 2;
          border-color: $--radio-hover-border-color;
        }
      }
    }
  }
}

