@import 'commons/var';
.#{$--cls-prefix}-radio {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: $--radio-line-height;
  background-color: $--radio-bg-color;
  &__input,
  &__inner,
  &__label {
    display: inline-block;
    vertical-align: middle;
  }
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__inner {
    position: relative;
    left: 0;
    top: 0;
    width: $--radio-width;
    height: $--radio-height;
    border: $--radio-border-width solid $--radio-border-color;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    transition: all $--radio-transition-time $--radio-transition-func;
    &:after {
      display: block;
      content: '';
      background-color: $--radio-checked-color;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      transition: all $--radio-transition-time $--radio-transition-func;
      transform: scale(0);
    }
  }
  &__label {
    padding-left: $--radio-label-padding-left;
    transition: color $--radio-transition-time $--radio-transition-func;
  }
  &--disabled {
    opacity: $--radio-opacity-disabled;
    .#{$--cls-prefix}-radio__input {
      cursor: not-allowed;
    }
  }
  &--readonly {
    pointer-events: none;
  }
  &:not(&--disabled):not(&--checked) {
    &:hover {
      .#{$--cls-prefix}-radio__inner {
        border-color: $--radio-hover-border-color;
      }
      .#{$--cls-prefix}-radio__label {
        color: $--radio-hover-color;
      }
    }
  }
  &--checked {
    .#{$--cls-prefix}-radio__inner {
      border-color: $--radio-checked-border-color;
      &:after {
        transform: scale(0.7);
      }
    }
    .#{$--cls-prefix}-radio__label {
      color: $--radio-checked-color;
    }
  }
  &--bordered {
    border: $--radio-border-width solid $--radio-border-color;
    padding: $--radio-button-padding-y $--radio-button-padding-x;
    border-radius: $--border-radius;
    transition: border-color $--radio-transition-time $--radio-transition-func;
    &:not(.#{$--cls-prefix}-radio--disabled):not(.#{$--cls-prefix}-radio--checked) {
      &:hover {
        border-color: $--radio-hover-border-color;
      }
    }
    &.#{$--cls-prefix}-radio--checked {
      border-color: $--radio-checked-border-color;
    }
  }
}
