@import './commons/variables.scss';
@import './commons/mixins.scss';

.#{$--clsPrefix}-radio-group {
    position: relative;
    .#{$--clsPrefix}-radio:not(:last-child) {
      margin-right: 0.5em;
    }
  }
  .#{$--clsPrefix}-radio-group--button {
    @include clearfix;
    .#{$--clsPrefix}-radio {
      float: left;
      border: 1px solid $--border-color;
      padding: 0.4em 0.6em;
      margin-right: 0 !important;
      text-align: center;
      &:first-child {
        border-top-left-radius: $--border-radius;
        border-bottom-left-radius: $--border-radius;
      }
      &:last-child {
        border-top-right-radius: $--border-radius;
        border-bottom-right-radius: $--border-radius;
      }
      &:not(:first-child) {
        margin-left: -1px;
      }
      .#{$--clsPrefix}-radio__inner {
        display: none;
      }
      .#{$--clsPrefix}-radio__label {
        transition: all $--transition-time ease-in-out;
        padding-left: 0;
      }
    }
    .#{$--clsPrefix}-radio--checked {
      border-color: $--radio-color-active;
      background-color: $--radio-color-active;
      .#{$--clsPrefix}-radio__label {
        color: $--radio-font-color-active;
      }
    }
    .#{$--clsPrefix}-radio--focused {
      box-shadow: $--box-shadow-size
        rgba($--radio-color-active, $--box-shadow-transparency);
    }
  }