@import './commons/variables.scss';

.#{$--clsPrefix}-tooltip__popper{
  .#{$--clsPrefix}-poptip__popper__arrow{
    box-shadow: none;
  }
  &[x-placement^=top]{
    .#{$--clsPrefix}-poptip__popper__arrow{
      border-top-color: transparent;
      &:after{
        border-top-color: $--tooltip-bg-color;
      }
    }
  }
  &[x-placement^=bottom]{
    .#{$--clsPrefix}-poptip__popper__arrow{
      border-bottom-color: transparent;
      &:after{
        border-bottom-color: $--tooltip-bg-color;
      }
    }
  }
  &[x-placement^=left]{
    .#{$--clsPrefix}-poptip__popper__arrow{
      border-left-color: transparent;
      &:after{
        border-left-color: $--tooltip-bg-color;
      }
    }
  }
  &[x-placement^=right]{
    .#{$--clsPrefix}-poptip__popper__arrow{
      border-right-color: transparent;
      &:after{
        border-right-color: $--tooltip-bg-color;
      }
    }
  }
  .#{$--clsPrefix}-poptip__popper__body{
    box-shadow: none;
    background-color: $--tooltip-bg-color;
    color: $--tooltip-font-color;
  }
}