@import './commons/var';
@import 'popover';
.#{$--cls-prefix}-tooltip{
  &__content {
    color: $--tooltip-color;
    background-color: $--tooltip-bg-color;
    box-shadow: $--tooltip-box-shadow;
    border-radius: $--tooltip-border-radius;
    font-size: $--tooltip-font-size;
  }

  &__arrow{
    z-index: 1;
    &:before{
      content: "";
      display: block;
      height: 0;
      width: 0;
      border: $--tooltip-arrow-size / 2 solid transparent;
    }
    &--top{
      &:before {
        border-top-color: $--tooltip-bg-color;
      }
    }
    &--bottom{
      &:before {
        border-bottom-color: $--tooltip-bg-color;
      }
    }
    &--left{
      &:before {
        border-left-color: $--tooltip-bg-color;
      }
    }
    &--right{
      &:before {
        border-right-color: $--tooltip-bg-color;
      }
    }
  }
}