@import './commons/variables.scss';
@import './commons/mixins.scss';

.#{$--clsPrefix}-checkbox-group {
  .#{$--clsPrefix}-checkbox:not(:last-child) {
    margin-right: 0.5em;
  }
}

.#{$--clsPrefix}-checkbox-group--button {
  @include clearfix;
  .#{$--clsPrefix}-checkbox {
    float: left;
    border: 1px solid $--color-border;
    padding: 0.4em 0.6em;
    margin-right: 0 !important;
    text-align: center;
    &:first-child {
      border-top-left-radius: $--border-radius;
      border-bottom-left-radius: $--border-radius;
    }
    &:last-child {
      border-top-right-radius: $--border-radius;
      border-bottom-right-radius: $--border-radius;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
    .#{$--clsPrefix}-checkbox__inner {
      display: none;
    }
    .#{$--clsPrefix}-checkbox__label {
      transition: all $--transition-time ease-in-out;
      padding-left: 0;
    }
  }
  .#{$--clsPrefix}-checkbox--checked {
    border-color: $--checkbox-color-active;
    border-right-color: $--checkbox-color-bg;
    background-color: $--checkbox-color-active;
    .#{$--clsPrefix}-checkbox__label {
      color: $--checkbox-color-text-active;
    }
  }

  .#{$--clsPrefix}-checkbox--checked + .#{$--clsPrefix}-checkbox--checked {
    border-left-color: $--checkbox-color-bg;
  }

  // .#{$--clsPrefix}-checkbox--focused {
  //   box-shadow: $--box-shadow-size rgba($--checkbox-color-active, $--box-shadow-transparency);
  // }
}