@mixin make-motion($className, $keyframeName, $duration) {
  .#{$className}-enter-active {
    animation-duration: $duration;
    animation-name: #{$keyframeName}In;
  }
  .#{$className}-leave-active {
    animation-duration: $duration;
    animation-name: #{$keyframeName}Out;
    pointer-events: none;
  }
}