//前缀
$--clsPrefix: 'xl';
//base color
$--color-primary : #409eff;
$--color-info : #909399;
$--color-success : #67c23a;
$--color-warning : #e6a23c;
$--color-error : #f56c6c;
$--color-border : #dddee1;
$--color-text : #495060;
$--color-background: #f7f7f7;
//size
$--border-radius : 0.2em;
$--font-size-base : 14px;
$--font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

//grid断点
$--sm: 768px;
$--md: 992px;
$--lg: 1200px;
$--xl: 1920px;
$--grid-breakpoints: ( 'xs': (max-width: $--sm), 'sm': (min-width: $--sm), 'md': (min-width: $--md), 'lg': (min-width: $--lg), 'xl': (min-width: $--xl));
//button
$--btn-color--default:$--color-text;
$--btn-bg-color--default:$--color-background;
$--btn-border-color--default:$--color-border;

