
@mixin box-shadow($color: $--color-black,$type:'base') {
  @if $type == 'sm' {
    box-shadow: 0 .125rem .25rem rgba($color, .075);
  } @else if $type == 'base' {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  } @else if $type == 'lg' {
    box-shadow: 0 1rem 3rem rgba($--color-black, .175);
  } 
}

@mixin arrow($width, $borderColor, $bgColor, $direction, $borderWidth:$width * 0.1) {
  display: block;
  height: 0;
  width: 0;
  border: $width / 2 solid transparent;
  &:after {
    position: absolute;
    display: block;
    left: (-$width + 2 * $borderWidth) /2;
    top: (-$width + 2 * $borderWidth) /2;
    content: "";
    height: 0;
    width: 0;
    border: ($width - 2 * $borderWidth) / 2 solid transparent;
  }
  @if($direction==top) {
    border-bottom-color: $borderColor;
    &:after {
      border-bottom-color: $bgColor;
      margin-top: $borderWidth;
    }
  }
  @if($direction==bottom) {
    border-top-color: $borderColor;
    &:after {
      border-top-color: $bgColor;
      margin-top: -$borderWidth;
    }
  }
  @if($direction==left) {
    border-right-color: $borderColor;
    &:after {
      border-right-color: $bgColor;
      margin-left: $borderWidth;
    }
  }
  @if($direction==right) {
    border-left-color: $borderColor;
    &:after {
      border-left-color: $bgColor;
      margin-left: -$borderWidth;
    }
  }
}
