@import '../mixins/function';
//prefix

$--cls-prefix:          'xl'                        !default;

// color
$--color-white:     #ffffff                       !default;
$--color-gray-100:  #f8f9fa                       !default;
$--color-gray-200:  #e9ecef                       !default;
$--color-gray-300:  #dee2e6                       !default;
$--color-gray-400:  #ced4da                       !default;
$--color-gray-500:  #adb5bd                       !default;
$--color-gray-600:  #6c757d                       !default;
$--color-gray-700:  #495057                       !default;
$--color-gray-800:  #343a40                       !default;
$--color-gray-900:  #212529                       !default;
$--color-black:     #000000                       !default;

$--grays:(
  "0":                $--color-white,
  "100":              $--color-gray-100,
  "200":              $--color-gray-200,
  "300":              $--color-gray-300,
  "400":              $--color-gray-400,
  "500":              $--color-gray-500,
  "600":              $--color-gray-600,
  "700":              $--color-gray-700,
  "800":              $--color-gray-800,
  "900":              $--color-gray-900,
  "1000":             $--color-black
)                                                    !default;

$--color-blue:      #007bff                        !default;
$--color-indigo:    #6610f2                        !default;
$--color-purple:    #6f42c1                        !default;
$--color-pink:      #e83e8c                        !default;
$--color-red:       #dc3545                        !default;
$--color-orange:    #fd7e14                        !default;
$--color-yellow:    #ffc107                        !default;
$--color-green:     #28a745                        !default;
$--color-teal:      #20c997                        !default;
$--color-cyan:      #17a2b8                        !default;

$--colors:(
  "blue":             $--color-blue,
  "indigo":           $--color-indigo,
  "purple":           $--color-purple,
  "pink":             $--color-pink,
  "red":              $--color-red,
  "orange":           $--color-orange,
  "yellow":           $--color-yellow,
  "green":            $--color-green,
  "teal":             $--color-teal,
  "cyan":             $--color-cyan,
  "white":            $--color-white,
  "gray":             $--color-gray-600,
  "gray-dark":        $--color-gray-800
)                                                     !default;

$--color-primary:     $--color-blue                   !default;
$--color-secondary:   $--color-gray-600               !default;
$--color-success:     $--color-green                  !default;
$--color-info:        $--color-cyan                   !default;
$--color-warning:     $--color-yellow                 !default;
$--color-danger:      $--color-red                    !default;
$--color-dark:        $--color-gray-800               !default;

$--theme-colors: (
  "primary":          $--color-primary,
  "secondary":        $--color-secondary,
  "success":          $--color-success,
  "info":             $--color-info,
  "warning":          $--color-warning,
  "danger":           $--color-danger,
  "dark":             $--color-dark
)                                                     !default;

$--theme-color-interval:      8%                      !default;

$--yiq-contrasted-threshold:  210                     !default;
$--yiq-text-dark:             $--color-gray-900       !default;
$--yiq-text-light:            $--color-white          !default;

//body
$--body-color:                $--color-white          !default;

//background
$--bg-color:                  $--color-white          !default;

//text color
$--text-color-dark:           $--yiq-text-dark            !default;
$--text-color-light:          $--yiq-text-light           !default;
$--link-color:                theme-color("primary")      !default;
$--link-color--hover:         darken($--link-color, 15%)  !default;

// border
$--border-color:              $--color-gray-300           !default;
$--border-color-hover:        $--color-gray-500           !default;
$--border-color-focus:        $--color-primary            !default;
$--border-width:              1px                         !default;
$--border-radius:             .25rem                      !default;
$--border-radius-lg:          .3rem                       !default;
$--border-radius-sm:          .2rem                       !default;

// line-height
$--line-height:               1.5                         !default;
$--line-height-sm:            1.5                         !default;
$--line-height-lg:            1.5                         !default;

//font
$--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$--font-size:                 1rem                        !default;
$--font-size-lg:              ($--font-size * 1.25)       !default;
$--font-size-sm:              ($--font-size * .875)       !default;
$--font-weight-lighter:       lighter                     !default;
$--font-weight-light:         300                         !default;
$--font-weight:               400                         !default;
$--font-weight-bold:          700                         !default;
$--font-weight-bolder:        bolder                      !default;


//opacity
$--opacity-disabled:          .65                         !default;

//icon
$--icon-font-path:                './fonts'                             !default;
$--icon-font-size:                1em                          !default;

// button
$--btn-font-weight:               $--font-weight                        !default;
$--btn-border-width:              $--border-width                       !default;
$--btn-padding-y:                 .3rem                                 !default;
$--btn-padding-x:                 .6rem                                 !default;
$--btn-span-icon-space:           .5rem                                 !default;
$--btn-font-size:                 $--font-size                          !default;
$--btn-line-height:               $--line-height                        !default;
$--btn-transition:                color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, z-index .15s ease-in-out !default;
$--btn-focus-width:               .1rem                                 !default;
$--btn-border-radius:             $--border-radius                      !default;
$--btn-border-radius-round:       ($--btn-padding-y + $--btn-line-height * $--btn-font-size) !default;
$--btn-opacity-disabled:          $--opacity-disabled                   !default;
$--btn-color-level:               3                                     !default;
$--btn-loading-time:              2s                                    !default;
$--btn-theme-color:               map_merge($--theme-colors,())         !default;

//grid
$--grid-breakpoints: ( 
  'xs':  0,
  'sm':  576px,
  'md':  768px, 
  'lg':  992px, 
  'xl':  1200px, 
  'xxl': 1600px
)                                                                           !default;

//layout
$--layout-header-height:        5rem                                        !default;
$--layout-header-bg-color:      $--color-gray-800                           !default;
$--layout-header-color:         color-yiq($--layout-header-bg-color)        !default;
$--layout-header-padding-x:     5rem                                        !default;
$--layout-content-bg-color:     $--color-gray-200                           !default;
$--layout-content-color:        color-yiq($--layout-content-bg-color)       !default;
$--layout-footer-height:        $--layout-header-height                     !default;
$--layout-footer-bg-color:      $--color-gray-500                           !default;
$--layout-footer-color:         color-yiq($--layout-footer-bg-color)        !default;
$--layout-footer-padding-x:     $--layout-header-padding-x                  !default;
$--layout-sider-width:          15rem                                       !default;
$--layout-sider-bg-color:       $--color-gray-700                           !default;
$--layout-sider-color:          color-yiq($--layout-sider-bg-color)         !default;

//input
$--input-border-color:          $--border-color                             !default;
$--input-hover-border-color:    $--border-color-hover                       !default;
$--input-focus-border-color:    $--border-color-focus                       !default;
$--input-font-size:             $--font-size                                !default;
$--input-border-radius:         $--border-radius                            !default;
$--input-color:                 $--color-gray-600                           !default;
$--input-clear-hover-color:     $--color-gray-800                           !default;
$--input-content-color:         $--text-color-dark                          !default;
$--input-bg-color:              $--bg-color                                 !default;
$--input-transition:            border-color .3s ease-in-out                !default;
$--input-textarea-transition:   height .3s ease-in-out                      !default;
$--input-append-bg-color:       $--color-gray-200                           !default;
$--input-border-width:          $--border-width                             !default;
$--input-padding-x:             .5rem                                       !default;
$--input-padding-y:             .5rem                                       !default;
$--input-inner-icon-padding-x:  $--input-padding-y * 2 + $--input-font-size !default;
$--input-opacity-disabled:      $--opacity-disabled                         !default;
$--input-line-height:           $--line-height                              !default;

//checkbox
$--checkbox-bg-color:               $--bg-color                             !default;
$--checkbox-color:                  $--text-color-dark                      !default;
$--checkbox-border-color:           $--border-color                         !default;
$--checkbox-hover-color:            $--color-primary                        !default;
$--checkbox-hover-border-color:     $--color-primary                        !default;
$--checkbox-checked-color:          $--color-primary                        !default;
$--checkbox-checked-border-color:   $--border-color-focus                   !default;
$--checkbox-line-height:            $--line-height                          !default;
$--checkbox-height:                 $--font-size                            !default;
$--checkbox-width:                  $--checkbox-height                      !default;
$--checkbox-border-width:           $--border-width                         !default;
$--checkbox-focus-width:            .1rem                                   !default;
$--checkbox-border-radius:          $--border-radius-sm                     !default;
$--checkbox-label-padding-left:     .4rem                                   !default;
$--checkbox-button-padding-x:       $--btn-padding-x                        !default;
$--checkbox-button-padding-y:       $--btn-padding-y                        !default;
$--checkbox-group-margin-right:     .5rem                                   !default;
$--checkbox-opacity-disabled:       $--opacity-disabled                     !default;
$--checkbox-transition-time:        .3s                                     !default;
$--checkbox-transition-func:        ease-in-out                             !default;

//radio
$--radio-bg-color:                  $--checkbox-bg-color                    !default;
$--radio-color:                     $--checkbox-color                       !default;
$--radio-border-color:              $--checkbox-border-color                !default;
$--radio-hover-color:               $--checkbox-hover-color                 !default;
$--radio-hover-border-color:        $--checkbox-hover-border-color          !default;
$--radio-checked-color:             $--checkbox-checked-color               !default;
$--radio-checked-border-color:      $--checkbox-checked-border-color        !default;
$--radio-line-height:               $--checkbox-line-height                 !default;
$--radio-height:                    $--checkbox-height                      !default;
$--radio-width:                     $--checkbox-width                       !default;
$--radio-border-width:              $--checkbox-border-width                !default;
$--radio-transition-time:           $--checkbox-transition-time             !default;
$--radio-transition-func:           $--checkbox-transition-func             !default;
$--radio-label-padding-left:        $--checkbox-label-padding-left          !default;
$--radio-button-padding-x:          $--checkbox-button-padding-x            !default;
$--radio-button-padding-y:          $--checkbox-button-padding-y            !default;
$--radio-group-margin-right:        $--checkbox-group-margin-right          !default;
$--radio-focus-width:               $--checkbox-focus-width                 !default;
$--radio-opacity-disabled:          $--checkbox-opacity-disabled            !default;
$--radio-border-radius:             $--checkbox-border-radius               !default;

//poptip
$--poptip-color:                    $--text-color-dark                                  !default;
$--poptip-font-size:                $--font-size                                        !default;
$--poptip-border-radius:            $--border-radius                                    !default;
$--poptip-border-width:             $--border-width                                     !default;
$--poptip-border-color:             $--color-gray-200                                   !default;
$--poptip-bg-color:                 $--bg-color                                         !default;
$--poptip-box-shadow:               0 2px 12px 0px rgba($--color-gray-500, .5)          !default;
$--poptip-arrow-size:               1rem                                                !default;
$--poptip-arrow-space:              0.5rem                                              !default;
$--poptip-title-content-space:      0.5rem                                              !default;
$--poptip-transition:               opacity .3s ease-in-out, transform .3s ease-in-out  !default;

//tooltip
$--tooltip-color:                   $--bg-color                                         !default;
$--tooltip-bg-color:                $--color-gray-700                                   !default;
$--tooltip-border-color:            $--tooltip-bg-color                                 !default;
$--tooltip-box-shadow:              0 2px 12px 0 rgba($--tooltip-border-color, .9)      !default;

//card
$--card-bg-color:                   $--bg-color                                         !default;
$--card-border-color:               $--border-color                                     !default;
$--card-border-radius:              $--border-radius                                    !default;
$--card-hover-transition:           box-shadow .5s ease-in-out                          !default;
$--card-box-shadow:                 0 2px 12px 0px rgba($--color-gray-500, .5)          !default;
$--card-padding-x:                  1rem                                                !default;
$--card-padding-y:                  0.8rem                                              !default;
$--card-border-width:               $--border-width                                     !default;
$--card-header-font-weight:         $--font-weight-bold                                 !default;

//collapse
$--collapse-border-width:               $--border-width                                 !default;
$--collapse-border-color:               $--border-color                                 !default;
$--collapse-header-bg-color:            lighten($--collapse-border-color, 9%)           !default;
$--collapse-body-bg-color:              $--bg-color                                     !default;
$--collapse-border-radius:              $--border-radius                                !default;
$--collapse-padding-x:                  1rem                                            !default;
$--collapse-padding-y:                  0.8rem                                          !default;
$--collapse-header-icon-margin-right:   0.5rem                                          !default;
$--collapse-header-icon-transition:     transform .3s ease-in-out                       !default;
$--collapse-transition:                 all .3s ease-in-out                             !default;