//前缀
$--clsPrefix: 'xl' !default;
$--font-path: './fonts';
//base color
$--color-primary: #409eff !default;
$--color-info: #909399 !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-error: #f56c6c !default;
$--color-text: #495060 !default;
//background
$--bg-color: #f7f7f7 !default;
// $--bg-color--secondary: #f5f7fa;
//link
$--link-color: $--color-primary !default;
//opacity
$--opacity--disabled:0.6 !default;
//box shadow
$--box-shadow-size:0 0 0 0.15em !default;
$--box-shadow-transparency:0.3 !default;
//transition
$--transition-time: .25s !default;
//border
$--border-color: #dddee1 !default;
$--border-color--hover: #c0c4cc !default;
$--border-color--focus: $--color-primary !default;
$--border-radius: 0.2em !default;
$--border-width: 1px !default;
//padding
$--padding-width--l: 0.4em !default;
$--padding-height--l: 0.6em !default;
//font
$--font-color: $--color-text !default;
$--font-color--secondary: lighten($--font-color, 15%) !default;
$--font-size--base: 14px !default;
$--font-family: "Helvetica Neue",
Helvetica,
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
"微软雅黑",
Arial,
sans-serif !default;
//grid断点
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
$--grid-breakpoints: ( 'xs': (min-width: 0), 'sm': (min-width: $--sm), 'md': (min-width: $--md), 'lg': (min-width: $--lg), 'xl': (min-width: $--xl));
//button
$--btn-box-shadow-size: $--box-shadow-size !default;
$--btn-box-shadow-transparency: $--box-shadow-transparency !default;
$--btn-padding-width: $--padding-width--l;
$--btn-padding-height: $--padding-height--l;

$--btn-border-width: $--border-width;
//default btn
$--btn-font-color--default:$--font-color !default;
$--btn-bg-color--default:transparent !default;
$--btn-border-color--default:$--border-color !default;
$--btn-font-color--default--hover: $--color-primary !default;
$--btn-bg-color--default--hover: lighten($--color-primary, 30%) !default;
$--btn-border-color--default--hover: $--color-primary !default;
//success btn
$--btn-font-color--success:$--bg-color !default;
$--btn-bg-color--success:$--color-success !default;
$--btn-border-color--success:$--btn-bg-color--success !default;
$--btn-font-color--success--hover: $--btn-font-color--success !default;
$--btn-bg-color--success--hover: lighten($--color-success, 10%) !default;
$--btn-border-color--success--hover: $--btn-bg-color--success--hover !default;
//primary btn
$--btn-font-color--primary:$--bg-color !default;
$--btn-bg-color--primary:$--color-primary !default;
$--btn-border-color--primary:$--btn-bg-color--primary !default;
$--btn-font-color--primary--hover: $--btn-font-color--primary !default;
$--btn-bg-color--primary--hover: lighten($--color-primary, 10%) !default;
$--btn-border-color--primary--hover: $--btn-bg-color--primary--hover !default;
//warning btn
$--btn-font-color--warning:$--bg-color !default;
$--btn-bg-color--warning:$--color-warning !default;
$--btn-border-color--warning:$--btn-bg-color--warning !default;
$--btn-font-color--warning--hover: $--btn-font-color--warning !default;
$--btn-bg-color--warning--hover: lighten($--color-warning, 10%) !default;
$--btn-border-color--warning--hover: $--btn-bg-color--warning--hover !default;
//error btn
$--btn-font-color--error:$--bg-color !default;
$--btn-bg-color--error:$--color-error !default;
$--btn-border-color--error:$--btn-bg-color--error !default;
$--btn-font-color--error--hover: $--btn-font-color--error !default;
$--btn-bg-color--error--hover: lighten($--color-error, 10%) !default;
$--btn-border-color--error--hover: $--btn-bg-color--error--hover !default;
//info btn
$--btn-font-color--info:$--bg-color !default;
$--btn-bg-color--info:$--color-info !default;
$--btn-border-color--info:$--btn-bg-color--info !default;
$--btn-font-color--info--hover: $--btn-font-color--info !default;
$--btn-bg-color--info--hover: lighten($--color-info, 10%) !default;
$--btn-border-color--info--hover: $--btn-bg-color--info--hover !default;
//text btn
$--btn-font-color--text: $--font-color !default;
$--btn-bg-color--text:$--btn-bg-color--default !default;
$--btn-border-color--text:$--btn-bg-color--default !default;
$--btn-font-color--text--hover:$--link-color !default;
//input
$--input-bg-color:$--bg-color !default;
$--input-bg-color--disabled:darken($--input-bg-color, 5%) !default;
$--input-border-color: $--border-color !default;
$--input-border-color--hover: $--border-color--hover !default;
$--input-border-color--focus: $--border-color--focus !default;
$--input-color-suffix-bg:#f5f7fa !default;
//radio
$--radio-size: 1em !default;
$--radio-color-active:$--color-primary !default;
$--radio-font-color-active:$--bg-color !default;
//checkbox
$--checkbox-size:1em !default;
$--checkbox-color-active:$--color-primary !default;
$--checkbox-bg-color:$--bg-color !default;
$--checkbox-font-color-active:$--bg-color !default;
//poptip
$--poptip-color: #eee !default;
$--poptip-padding: $--padding-width--l $--padding-width--l !default;
$--poptip-box-shadow-size: $--box-shadow-size !default;
$--poptip-box-shadow-transparency: $--box-shadow-transparency !default;
$--poptip-border-color: $--border-color !default;
$--poptip-bg-color: #fff !default;
//dropdown
$--dropdown-box-shadow:0 0.1em 0.5em $--border-color !default;
$--dropdown-bg-color:#fff !default;
$--dropdown-color:$--font-color !default;
$--dropdown-color--active:$--color-primary !default;
