//前缀
$--clsPrefix: 'xl' !default;
//base color
$--color-primary: #409eff !default;
$--color-info: #909399 !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-error: #f56c6c !default;
$--color-border: #dddee1 !default;
$--color-text: #495060 !default;
$--color-text--secondary: lighten($--color-text, 15%) !default;
$--color-background: #f7f7f7 !default;
$--color-link: $--color-primary !default;
//base
$--disabled-opacity:0.6 !default;
$--box-shadow-size:0 0 0 0.15em !default;
$--box-shadow-transparency:0.3 !default;
$--transition-time: .25s !default;
$--border-radius: 0.2em !default;
$--font-size-base: 14px !default;
$--font-family: "Helvetica Neue",
Helvetica,
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
"微软雅黑",
Arial,
sans-serif !default;
//grid断点
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
$--grid-breakpoints: ( 'xs': (min-width: 0), 'sm': (min-width: $--sm), 'md': (min-width: $--md), 'lg': (min-width: $--lg), 'xl': (min-width: $--xl));
//button
$--btn-box-shadow-size:0 0 0 0.15em !default;
$--btn-box-shadow-transparency:0.3 !default;
$--btn-color--default:$--color-text !default;
$--btn-bg-color--default:transparent !default;
$--btn-border-color--default:$--color-border !default;
$--btn-color--default--hover: $--color-primary !default;
$--btn-bg-color--default--hover: lighten($--color-primary, 30%) !default;
$--btn-border-color--default--hover: $--color-primary !default;
$--btn-color--success:$--color-background !default;
$--btn-bg-color--success:$--color-success !default;
$--btn-border-color--success:$--btn-bg-color--success !default;
$--btn-color--success--hover: $--btn-color--success !default;
$--btn-bg-color--success--hover: lighten($--color-success, 10%) !default;
$--btn-border-color--success--hover: $--btn-bg-color--success--hover !default;
$--btn-color--primary:$--color-background !default;
$--btn-bg-color--primary:$--color-primary !default;
$--btn-border-color--primary:$--btn-bg-color--primary !default;
$--btn-color--primary--hover: $--btn-color--primary !default;
$--btn-bg-color--primary--hover: lighten($--color-primary, 10%) !default;
$--btn-border-color--primary--hover: $--btn-bg-color--primary--hover !default;
$--btn-color--warning:$--color-background !default;
$--btn-bg-color--warning:$--color-warning !default;
$--btn-border-color--warning:$--btn-bg-color--warning !default;
$--btn-color--warning--hover: $--btn-color--warning !default;
$--btn-bg-color--warning--hover: lighten($--color-warning, 10%) !default;
$--btn-border-color--warning--hover: $--btn-bg-color--warning--hover !default;
$--btn-color--error:$--color-background !default;
$--btn-bg-color--error:$--color-error !default;
$--btn-border-color--error:$--btn-bg-color--error !default;
$--btn-color--error--hover: $--btn-color--error !default;
$--btn-bg-color--error--hover: lighten($--color-error, 10%) !default;
$--btn-border-color--error--hover: $--btn-bg-color--error--hover !default;
$--btn-color--info:$--color-background !default;
$--btn-bg-color--info:$--color-info !default;
$--btn-border-color--info:$--btn-bg-color--info !default;
$--btn-color--info--hover: $--btn-color--info !default;
$--btn-bg-color--info--hover: lighten($--color-info, 10%) !default;
$--btn-border-color--info--hover: $--btn-bg-color--info--hover !default;
$--btn-color--text: $--color-text !default;
$--btn-bg-color--text:$--btn-bg-color--default !default;
$--btn-border-color--text:$--btn-bg-color--default !default;
$--btn-color--text--hover:$--color-link !default;
//input
$--input-bg-color:$--color-background !default;
$--input-bg-color--disabled:darken($--input-bg-color, 5%) !default;
$--input-border-color: $--color-border !default;
$--input-border-color--hover: #c0c4cc !default;
$--input-border-color--focus:$--color-primary !default;
$--input-suffix-bg-color:#f5f7fa !default;
//radio
$--radio-size: 1em !default;
$--radio-color-active:$--color-primary !default;
$--radio-color-text-active:$--color-background !default;
//checkbox
$--checkbox-size:1em !default;
$--checkbox-color-active:$--color-primary !default;
$--checkbox-color-bg:$--color-background !default;
$--checkbox-color-text-active:$--color-background !default;
//dropdown
$--dropdown-box-shadow:0 0.1em 0.5em $--color-border !default;
$--dropdown-color-bg:#fff !default;
$--dropdown-color:$--color-text !default;
$--dropdown-color--active:$--color-primary !default;